# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Local history files
.history

# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test
coverage
*.test-results
test-results/
playwright-report/
demo-screenshots/
